.playerTag {
  background: var(--gray-800);
  padding: 6px 14px 6px 8px; /* Reduzi o padding esquerdo para o ícone brilhar */
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

  /* Animação ao aparecer */
  animation: slideIn 0.3s ease-out;
}

@keyframes scanLine {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}
