@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  overflow: auto;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.6rem;
  background: var(--gray-900);
  color: var(--text-default);
  width: 100%;
  overflow: auto;
  body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Edge */
  }
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Edge */
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}
